body{
    padding: 0;
    margin: 0;

}



.container{
    display: grid;
    grid-template-columns: 20vw 80vw;
    min-height: 100vh;
}



.sidebar{
    background-color: rgb(74, 160, 236);
    color: white;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;

}

.sidebar > *{
    border: 1px solid red;
    display: flex;
    padding: 10px; ;
    flex-direction: column;
    
}

.sidebar > div > span{
    margin-bottom: 10px;
}

.side-task{
    
}

.content{
    display: grid;
    grid-template-rows: 20vh minmax(80vh,auto);
    max-width: 80vw;
}

.header{
    background-color: white;
}
.main-content{
    background-color: rgb(220, 220, 220);
}